@media screen and (max-width: 767px) {
    .logo_place_header {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 320px) {
    .logo_place_header {
        width: 145px;
        height: auto;
    }
}