.hero__title {
    margin: 0 0 19px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0.22px;
    color: #292F36;
}

@media screen and (max-width: 800px) {
    .hero__title {
        font-size: 70px;
    }
}

@media screen and (max-width: 700px) {
    .hero__title {
        font-size: 60px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .hero__title {
        font-size: 40px;
    }
}