.hero__subtitle {
    margin: 0 0 35px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    color: #4D5053;
}

@media screen and (max-width: 1150px) {
    .hero__subtitle {
        max-width: 80%;
    }
}

@media screen and (max-width: 950px) {
    .hero__subtitle {
        max-width: 75%;
    }
}

@media screen and (max-width: 800px) {
    .hero__subtitle {
        max-width: 65%;
    }
}

@media screen and (max-width: 700px) {
    .hero__subtitle {
        text-align: center;
        margin: 0 auto 35px;
    }
}

@media screen and (max-width: 500px) {
    .hero__subtitle {
        font-size: 14px;
    }
}
