.header {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        margin: 0 auto;
    }
}