.header {
    margin: 0 auto 18px;
    padding: 26px 20px 0;
    display: flex;
    max-width: 1240px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
    }
}