.header__link {
    text-decoration: none;
    color: #292F36;
    font-size: 19px;
    line-height: 1.58;
    transition: color .2s ease;
}

.header__link:hover {
    color: #CDA274;
}

@media screen and (max-width: 320px) {
    .header__link {
        font-size: 16px;
    }
}