@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_place/button_place_header.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__list-item/header__list-item.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);

@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__container/hero__container.css);
@import url(../blocks/hero/__title/hero__title.css);
@import url(../blocks/hero/__subtitle/hero__subtitle.css);
@import url(../blocks/button/__image/button__image.css);


