.button {
    padding: 18px 20px 18px 34px;
    background-color: #292F36;
    border: 2px solid #292F36;
    border-radius: 18px;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.72px;
    display: flex;
    align-items: center;
}