@media screen and (max-width: 700px) {
    .button_place_header {
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .button_place_header {
        padding: 10px 15px;
        font-size: 14px;
    }
}